<launch>
    <!--
        Visualization of the allegro hand using rviz. Can be launched separately
        or by including it in another launch file.
    -->
    <arg name="HAND" default="left"/>

    <arg name="NUM" default='0'/>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" ></node>

    <param name="robot_description"
         command="xacro $(find allegro_hand_description)/urdf/left_honda.urdf.xacro"/>

    <node name="rviz_$(arg NUM)"
          pkg="rviz" type="rviz"
          args="-d $(find allegro_hand_description)config/allegro_hand_and_finger_tips.rviz" >
      <!-- <remap from="/tf" to="/allegroHand_$(arg NUM)/tf"/> -->
    </node>

</launch>
